body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: .5%;
    padding-bottom: 1%;
    color: #333;
    /*background-color: blue;*/
    /*position: relative;*/
}

#weather-title {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 200px;
}

.error, error {
    color: red;
    text-align: right;
}

label {
    display: block;
    font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

#content_in {
  width: 500px;
  height: 250px;
  font-size: 17px;
  font-family: monospace;
}

#tldr {
/*    width: 500px;
    height: 70px;*/
    font-size: 15px;
    font-family: monospace;
}

#category {
    width:550px;
}

/*textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}*/

input[type=submit] {
  font-size: 24px;
}

.main-title {
    /*display: block;*/
    position: center;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #4F4E4E;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    font-family: Helvetica;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
    font-family: Arial;
    font-size: 14px;
}
.post-creator {
    margin-top: 1%;
    margin-left: 1%;
    color: #D3D3D3;
}

#newpostlink {

    position: absolute;
    top: 2%;
    left: 1%;
    color: gray;
    text-decoration: none;
    font-size: 16px;
    width: 20%;
}

#signblock {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 20%;
    text-align: right;
}

#sign {
    text-decoration: none;
    color: gray;
    font-size: 16px;
}

#newpostlink:hover {
    color: black;
}

#sign:hover {
    color: black;
/*    background-color: green;*/
}

#creator-link {
    color: #D3D3D3;
    text-decoration: none;
}
#creator-link:hover {
    color: #4F4E4E;
}

/*#wiki-link {
    position: relative;
    text-align: center;
    width: 100%;
    bottom: 1%; 
}
#wiki-linkt {
    text-align: center;
    color: gray;
}*/

#calc-link {
    position: absolute;
    top:100%;
    right: 100%;
}