<html>
<head>
	<title>D3 Try</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
</head>
<body>

	mic check
	
	<p id="hello">hello</p>


<script type="text/javascript">
		d3.select("#hello").style("color", function() {
  return "hsl(" + Math.random() * 360 + ",100%,50%)";
});


// d3.select("body").selectAll("p")
//     .data([4, 8, 15, 16, 23, 42])
//   .enter().append("p")
//     .text(function(d) { return "I’m number " + d + "!"; });

// Update…
// var p = d3.select("body").selectAll("hello")
//     .data([4, 8, 15, 16, 23, 42])
//     .text(String);

// // Enter…
// p.enter().append("p")
//     .text(String);

// // Exit…
// p.exit().remove();



	</script>



</body>
</html>