<html>
<head>
	<link type="text/css" rel="stylesheet" href="../stylesheets/base0.css" />

<title>New Post (Hidden Blog)</title>
</head>

<body>
  <h2>new post</h2>

    <form method="post">
      <label>
      	<div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
      	<div>Content</div>
        <textarea name="content">{{content}}</textarea>
      </label>
      <input type="submit">     <!-- <div class="error">{{error}}</div> -->

    </form>

</body>


</html>