{% extends "user_blogBase.html" %}

{% block content %}

      <!-- <link type="text/css" rel="stylesheet" href="/stylesheets/userBlogBase.css" /> -->


<script type="text/javascript">
function limitTextCount(limitField_id, limitCount_id, limitNum)
{
    var limitField = document.getElementById('tldr');
    var limitCount = document.getElementById('divcount');
    var fieldLEN = limitField.value.length;

    if (fieldLEN > limitNum)
    {
        limitField.value = limitField.value.substring(0, limitNum);
    }
    else
    {
        limitCount.innerHTML = (limitNum - fieldLEN) + ' character(s).';
    }
}
</script>
  <h2>new post</h2>

    <form method="post">
      <label>
        <div>Subject <error>{{subError}}</error></div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <label>
        <div>Content <error>{{contentError}}</error></div>
        <textarea name="content_in" id="content_in">{{content}}</textarea>
      </label>
      <label>
        <div>TL;DR <error>{{tldrError}}</error></div>
        <textarea name="tldr" id="tldr" rows="3" cols="55" maxlength="150" onkeyup="limitTextCount('title', 'divcount', 150);" onkeydown="limitTextCount('title', 'divcount', 150);">{{tldr}}</textarea>
        <div id="divcount">150 character(s)</div>
        <!-- <br>
        <div id="divcount">100 charachter(s) to go..</div> -->
<!--         <td> -->
        <div name="category">
          <h4>Post category</h4>
          <input type="checkbox" name="sportsBox" id="sports">sports
          <input type="checkbox" name="newsBox" id="news">news
          <input type="checkbox" name="businessBox" id="business">business
          <input type="checkbox" name="scienceBox" id="science">science
          <br>
          <input type="checkbox" name="techBox" id="tech">technology
          <input type="checkbox" name="healthBox" id="health">health
          <input type="checkbox" name="otherBox" id="other">something else
          <!-- <td> -->
        </div>
      </label>
      <input type="submit">     <!-- <div class="error">{{error}}</div> -->

    </form>

{% endblock %}
