<!DOCTYPE html>

<html>
		<head>
			<meta name="Description"
				content="Ryan Sloot wiki, python backend" />
      <link type="text/css" rel="stylesheet" href="../stylesheets/wikibase.css" />
        <!-- <link type="text/css" rel="stylesheet" href="../stylesheets/normalize.css" /> -->

				<!--link type="text/css" rel="stylesheet" href="main.css" /-->
				<title>Duh Wiki {% if page_title %} {{" - "}} {{page_title}} {% endif %}</title>
				
				<!--ICONs-->
				<!-- <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
				<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
				<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
				<link rel="apple-touch-icon-76x76-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
				<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
				<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
				<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
				<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
				<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
				<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
				<link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
				<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
				<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
				<link rel="manifest" href="/images/favicons/manifest.json">
				<meta name="msapplication-TileColor" content="#348534">
				<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
				<meta name="theme-color" content="#ffffff"> -->
				<link rel="shortcut icon" type="image/png" href="/images/favicons/favicon-16x16.png">
				<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">

<script src="../js/jquery-2.2.0.min.js"></script>
        <script>
            $(document).ready(function() {
                $(window).scroll(function() {
                    if ($('body').height() <= ($(window).height() + $(window).scrollTop())) {
						document.getElementById('long-post-blog-link').style.display = 'inline-block';
					}
					else {
						document.getElementById('blog-link').style.display = 'none';
					}
                });
            });    
        </script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57002012-2', 'auto');
  // ga('require', 'linkid', 'linkid.js');
  // ga('require', 'displayfeatures');
  // ga('set', '&uid', {{USER_ID}}); // Set the user ID using signed-in user_id.
  ga('send', 'pageview');
</script>

		</head>


		<a href="/" class="wiki-title">
					Duh Wiki 
					</a>
<div id="edit">
		<a href='../_edit/{{page_title}}' id="edit-link">{{edit}}</a>
</div>
<div id="signblock">
	<a href="/signup" id="sign">{% if signup %} {{signup}}</a>
	{{" | "}} {%endif%}
	<a href="/login/" id="sign">{{login}}</a>
	<a href="/strike/{{username}}" id="sign">{{username}}</a><a href="/logout/" id="sign">{{logout}}</a>
</div>



<body>
				
				<meta itemprop="creator" content="Ryan Sloot" />

				<div id="content">
				{% block content %}
				{% endblock %}
				</div>


<div id="detail-block">
				{%if creator and modifiers and last_modified%}
				<span>Created by: <a href="/strike/{{creator}}" class="profile-links">{{creator}}</a></span><br>
				<span>Contributers: 
				{% for i in range(modifiers | length) %}
					{% if i < (modifiers | length) - 1 %}
						<a href="/strike/{{modifiers[i]}}" class="profile-links">{{modifiers[i]}}</a>,

					{% else %}
						<a href="/strike/{{modifiers[i]}}" class="profile-links">{{modifiers[i]}}</a></span><br>
					{% endif %}
				{% endfor %}
				<span>Last Modified: {{last_modified.strftime("%I:%M %p %Z %b %d, %Y")}}</span>
				{%endif%}
</div>

		</body>
		<a href="http://oneryansloot.appspot.com" id="calc-link">.</a>
    	<div id="blog-link"><a href="/blog" id="blog-linkt">Link to Blog</a></div>

    	<div id="long-post-blog-link"><a href="/blog" id="blog-linkt">Link to Blog</a></div


</html>